@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, body, heading */
@layer base {
    body{
        @apply bg-[#ebe6c0] text-white;
    }
}

/* custom class names */
@layer components {
    .headerLink {
        @apply cursor-pointer text-sm font-light text-[#e5e5e5] transition duration-[.4s]
        hover:text-[#b3b3b3];
    }
}